<!DOCTYPE html>
<html
        lang="en"
        th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}"
        xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>About Page</title>
  </head>
  <body>
    <div id="content">
      <div class="container mx-auto text-center">
      <h2 class="text-3xl font-bold mb-12 animate__animated animate__fadeInUp">About Us</h2>
      <p>
        A contact manager application with various features which includes Secured Login, Managing Contacts, Exporting Contacts etc., developed for convenience of users, with a user friendly interface.
      </p>
      <p>
        Visit <a data-th-href="@{'/services'}"><strong>Services</strong></a> to get features/services of the application.
      </p>
    </div>
    </div>
    <script>
      console.log("about page");
    </script>
    <script>
      console.log("second about page script");
    </script>
  </body>
</html>
